<div class="wrapper-kanji">
  <div class="KanjiCard">
    <p class="KanjiCard_kanji" id="kanji"><%= @results['kanji'] %></p>
  </div>
  <div class="kanji-info">
    <p>Stroke Count: <%=@results['stroke_count']%></p>
    <p>Meanings: <%= @results['meanings'].any? ? @results['meanings'].join(', ') : ' N/A'%></p>
    <p>Kun Readings: <%= @results['kun_readings'].any? ? @results['on_readings'].join(', ') : ' N/A'%></p>
    <p>On Readings: <%= @results['on_readings'].any? ? @results['kun_readings'].join(', ') : ' N/A'%></p>
    <p>Name Readings: <%= @results['name_readings'].any? ? @results['name_readings'].join(', ') : ' N/A'%></p>
    <p>JLPT:<%=@results['jlpt'].nil? ?  ' N/A' : @results['jlpt']%></p>
  </div>
</div>
